#container{
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;

    text-align: center;
    padding: 5px 10px;
    
}

#tasks-container{
    text-align: left;
}

ul{
    padding: 0px
}

.row{
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    align-items: center;
}